/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
/Makefile
/Makefile.old
*.o
*.bs
*.db
Thumbs.db 
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath


######################
# Project specific
######################

archive/

*.html
*.css
#*.sql

test.pl
get.pl
address.pm

TODO
kindlegen
log*
inlist
.entry*
.temptopic
